<div class="newsletter">  
  <h2 class="newsletter-title">需求问卷</h2>
  <div class="form-container">
    <p>认真填写您的需求，我们将根据问卷结果对项目初步的了解，并开始设计与沟通，感谢！</p>
      
    <div class="newsletter-box" >
        <a href="https://wj.qq.com/s/1457754/7859">
        <input type="button" value="开始填写" onclick="window.location.href('https://wj.qq.com/s/1457754/7859')">
        </a>
    </div>  
  </div>  
  
  <!--
<div class="newsletter" id="mc_embed_signup">
  <h2 class="newsletter-title">Newsletter</h2>
  <div class="form-container">
    <p>Subscribe here to get our latest updates</p>
    <form action="//{{ site.mailchimp }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <label class="screen-reader-text" for="mce-EMAIL">Email Address</label>
      <div class="newsletter-box" id="mc_embed_signup_scroll">
        <input type="email" name="EMAIL" placeholder="Email address" class="email-input" id="mce-EMAIL" required>
        <input type="submit" value="Subscribe" name="subscribe" class="subscribe-btn" id="mc-embedded-subscribe">
      </div>
    </form>
  </div>
  -->
</div> <!-- End Newsletter -->
